<h1 class="center-header">
    WELCOME TO SNIPPETHUB!
</h1>
<p>SnippetHub is your number #1 web service for storing and sharing code snippets.</p>
<h2 class="center-header">Currently featured code snippets:</h2>
{{#if featuredSnippets.length}}
{{#each featuredSnippets}}
    <div class="codesnippet">
        <div class="codesnippet-header"><h3>{{name}}</h3></div>
        <div class="codesnippet-body"><pre><code>{{code}}</code></pre></div>
        <div class="codesnippet-footer"><p>by <a href="./users/{{userid}}">{{username}}</a></p></div>
    </div>
{{/each}}
{{else}}
    <p>No featured code snippets available right now.</p>
{{/if}}
