<h1 class="center-header">{{user.username}}'s Code Snippets</h1>

{{#if user.snippets.length}}
{{#each user.snippets}}
  <div class="codesnippet">
      <div class="codesnippet-header"><h3>{{name}}</h3></div>
      <div class="codesnippet-body"><pre><code>{{code}}</code></pre></div>
      <div class="codesnippet-footer">
        <ul>
          <li>
            <a type="button" class="button-link" href="./users/{{../viewedProfileID}}/snippets/{{this._id}}/edit" role="button">Edit</a>
          </li>
          <li>
            <a type="button" class="button-link" href="./users/{{../viewedProfileID}}/snippets/{{this._id}}/remove" role="button">Delete</a>
          </li>
        </ul>
      </div>
  </div>
{{/each}}
{{else}}
<p>No code snippets yet.</p>
{{/if}}
<div id="profile-footer">
  <div><a type="button" class="button-link" id="create-new-snippet-button" href="./users/{{viewedProfileID}}/snippets/new">Create New Code Snippet</a></div>
</div>
