<h1>
  <span class="far fa-plus-square"></span> {{user.username}}'s profile
</h1>

<p>WELCOME TO YOUR PROFILE!</p>

{{#if user.snippets.length}}
{{#each user.snippets}}
<h3>{{this.name}}</h3>
<p>{{this.code}}</p>
<a type="button" class="btn btn-primary" href="./{{../viewedProfileID}}/snippets/{{this._id}}/edit" role="button">Edit</a>
<a type="button" class="btn btn-primary" href="./{{../viewedProfileID}}/snippets/{{this._id}}/remove" role="button">Delete</a>
{{/each}}
{{else}}
<p>No code snippets yet.</p>
{{/if}}

<br>
<a type="button" class="btn btn-primary" href="./{{viewedProfileID}}/snippets/new" role="button">Create New Code Snippet</a>