<h1 class="center-header">{{user.username}}</h1>

<h2 class="center-header">DELETE CODE SNIPPET?</h2>

  <div class="codesnippet">
      <div class="codesnippet-header"><h3>{{snippet.name}}</h3></div>
      <div class="codesnippet-body"><pre><code>{{snippet.code}}</code></pre></div>
      <div class="codesnippet-footer"></div>
  </div>

<form method="post" action="./users/{{user._id}}/snippets/{{snippet.id}}/delete" class="center-header">
  <button type="submit" class="button-link">Yes</button>
  <a type="button" href="./users/{{user._id}}" class="button-link">No</a>
</form>
