<h1 class="center-header">{{user.username}}</h1>

<h2 class="center-header">EDIT CODE SNIPPET</h2>

<form method="post" action="./users/{{user._id}}/snippets/{{snippetID}}/update">
  {{>validationSummary}}
  <div class="codesnippet">
      <div class="codesnippet-header"><input class="form-control" name="name" placeholder="Snippet name"  value="{{snippetName}}" required="required" autofocus="autofocus" /></div>
      <div class="codesnippet-body"><textarea class="form-control" name="code" placeholder="Code" required="required" autofocus="autofocus">{{snippetCode}}</textarea></div>
      <div class="codesnippet-footer"></div>
  </div>
  <button type="submit" class="button-link center-button">Update</button>
</form>
